<tr class="course">
  <td><%= link_to course.number, course %></td>
  <td><%= course.title %></td>
  <td><%= course.instructor %></td>
  <td><%= course.status %></td>
  <td><%= course.available_seats %></td>
  <td><%= course.updated_at.to_time %></td>
  <% if user_signed_in? %>
    <% if current_user && current_user.following?(course) %>
      <td id="<%= "#{course.id}" %>">
        <%= render :partial => "courses/unfollow", :locals => {:course => course} %>
      </td>
    <% else %>
      <td id="<%= "#{course.id}" %>">
        <%= render :partial => "courses/follow", :locals => {:course => course} %>
      </td>
    <% end %>
  <% else %>
    <td><%= link_to 'follow', new_user_session_path,
                              :class => 'btn btn-mini' %></td>
  <% end %>
  <% if current_user && current_user.has_role?(:admin) %>
    <td><%= link_to 'Edit', edit_course_path(course),
                            :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Delete', course_path(course),
                              :method => :delete,
                              :confirm => "Are you sure?",
                              :class => 'btn btn-mini' %></td>
  <% end %>
</tr>
